h1{
    font-style: italic;
}

p {
    color: green;
}

.titulo {
  color: red;         
  text-align: center;  
  font-size: 24px;     
}

.caja {
  background-color: yellow; 
  border: 2px solid blue;   
  padding: 10px;             
  margin: 15px;              
}

#unico {
  color: blue;              
  font-weight: bold;        
  border: 3px solid red;
}
